<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Edit Page</title>
    <style>
        .center {
            margin: auto;
            width: 30%;
            border: 3px solid #73AD21;
            padding: 10px;
        }
    </style>
</head>
<body>
<form name="loginfo" method="post" action="editsubmit">
    <div class="center">No.: <input type="text" name="no"><br></div>
    <div class="center">New Name: <input type="text" name="name"><br></div>
    <div class="center">New Phone: <input type="text" name="phone"><br></div>
    <div class="center">New Email: <input type="text" name="email"><br></div>
    <div class="center">New Address: <input type="text" name="address"><br></div>
    <div class="center">New QQ: <input type="text" name="qq"><br></div>
    <div class="center"><input type="submit" value="Add"></div>
    <div class="center"><p1 >Please enter the info correctly above!</p1></div>
</form>

</body>
</html>